body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-con {
    display: flex;
    justify-content: center;
    padding: 10px;
}

header {
    width: 95%;
    height: 100px;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px rgb(230, 230, 230), inset -2px -2px 3px rgb(110, 110, 110), 2px 2px 8px rgb(65, 65, 65);
}

header h1 {
    text-shadow:  2px 2px 2px white;
}

.main-bod {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.main-bod div {
    height: 250px;
    width: 250px;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px rgb(230, 230, 230), inset -2px -2px 5px rgb(110, 110, 110), 2px 2px 8px rgb(65, 65, 65);
    transition: ease-in-out 200ms;
}

.main-bod div:hover {
    box-shadow: inset 2px 2px 3px rgb(230, 230, 230), inset -2px -2px 3px rgb(110, 110, 110), 6px 6px 15px rgb(65, 65, 65);
    transition: ease-in-out 200ms;
    transform: scale(1.01);
}