body {
    background-color: rgb(54, 54, 54);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(126, 126, 126);
    margin: 0;
    padding: 0;
}

.header .logo img {
    border-radius: 50%;
    height: 150px;
}

.header .links {
    display: flex;
    flex-direction: row;

}

.header .links * {
    margin: 10px 10px 10px 50px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.header .links * p {
    transform: translate(150px, 0px);
    transition: ease-in-out 300ms;
}

.header .menu {
    margin: 0px 40px 0 0;
    cursor: pointer;
    overflow: hidden;
}

.header .menu .line {
    height: 5px;
    width: 30px;
    background-color: black;
    margin: 5px 0;
    padding: 0;
    transition: ease-in-out 100ms;
}

.header .menu.active .line {
    transform: translate(35px, 0px);
}

.header .links.active * p {
    transform: translate(0px, 0px);
}